@{
    ViewData["Title"] = "Кулинария для всех";
}

<div class="text-center">
	<h1 class="display-4">Что любишь готовить ты?</h1>
	<p>Всем привет, на этом сайте вы можете разместить свои любимые рецепты.</p>
</div>
