@model List<string>
@{
    ViewData["Title"] = "Кулинария для всех";
}
<div class="text-center">
    <h3 class="display-4">Знаешь вкусный рецепт? Поделись с другими;)</h3>
</div>

@foreach (string text in Model)
{
    <p>@text</p>
}